body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-calculadora {
  text-align: center;
  background: lightcoral;
  width: 230px;
  height: 230px;
  border-radius: 15px 50%; /*formato*/
  border: 2px solid pink;
}

.botao{
  height: 40px;
}
